Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, stylish-haskell

eslint:
  name: Run ESLint
  entry: scripts/eslint.sh
  language: script
  require_serial: true

hlint:
  name: Run HLint
  entry: scripts/hlint.sh
  language: script
  pass_filenames: false

stylish-haskell:
  name: Run stylish-haskell
  entry: scripts/stylish-haskell.sh
  language: script
  pass_filenames: false

Use the same flags in build as test
  .circleci/config.yml
Due: none

Install hpc-lcov
  .circleci/config.yml
Due: none

Build haddock separately
  .circleci/config.yml
Due: none

Get coverage for example executable and test suite separately
  .circleci/config.yml
Due: none

Remove old Main.mix file
  .circleci/config.yml
Due: none

Add script to generate overlay .tix file
  scripts/make_hpc_overlay.py
Due: none

Upload overlay to Codecov
  .circleci/config.yml
Due: none

Check message for MockQueryT failure
  graphql-client/test/Data/GraphQL/Test/TestUtils.hs
Due: hlint, stylish-haskell

Add some more overlay lines
  scripts/make_hpc_overlay.py
Due: none

Add song to README
  README.md
Due: none

Add stack.yaml.lock
  stack.yaml.lock
Due: none

Add some more tests
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
Due: eslint

Use newest aeson-schemas
  stack-ghc-8.6.yaml
Due: none

Support unions in render
  graphql-codegen-haskell/src/render.test.ts
  graphql-codegen-haskell/src/render.ts
Due: eslint

Implement interface fragment spread
  graphql-codegen-haskell/src/parse/graphqlTypes.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Add test for interface fragment spread
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
Due: eslint

Pass in full schema to parseSelectionSet
  graphql-codegen-haskell/src/parse/operation.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Allow non-comma separators
  graphql-codegen-haskell/src/utils.test.ts
  graphql-codegen-haskell/src/utils.ts
Due: eslint

Add test for multiline template
  graphql-codegen-haskell/src/utils.test.ts
Due: eslint

Regenerate modules
  example/src/Example/GraphQL/API.hs
  graphql-codegen-haskell/src/index.test.ts
Due: eslint, hlint, stylish-haskell

Don't include suffix in templateOverList
  graphql-codegen-haskell/src/template.mustache
  graphql-codegen-haskell/src/utils.test.ts
  graphql-codegen-haskell/src/utils.ts
Due: eslint

Improve template newlines
  example/src/Example/GraphQL/API.hs
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/template.mustache
Due: eslint, hlint, stylish-haskell

Implement inline fragment node
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Move fragment logic into resolveFragmentNode
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Fix warning
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
Due: eslint

Fix for graphql@14
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Add DuplicateRecordFields
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/template.mustache
Due: eslint

Separate RawPluginConfig from PluginConfig
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/index.ts
Due: eslint

Add pathToModule and moduleToPath
  graphql-codegen-haskell/src/utils.test.ts
  graphql-codegen-haskell/src/utils.ts
Due: eslint

Remove apiModule and add hsSrcDir to config
  graphql-codegen-haskell/src/config.test.ts
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/index.test.ts
Due: eslint

Add enumsModule to config
  README.md
  example/codegen.yml
  graphql-codegen-haskell/src/config.test.ts
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/index.test.ts
Due: eslint

Move render files into subdir
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/api.test.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/render/template.d.ts
  graphql-codegen-haskell/src/render/template.mustache
Due: eslint

Add ~/ import alias
  graphql-codegen-haskell/jest.config.js
  graphql-codegen-haskell/src/parse/fragments.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
  graphql-codegen-haskell/src/render/api.test.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/tsconfig.json
Due: eslint

Move mustache templates into subdir
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/render/templates/mustache.d.ts
Due: eslint

Regenerate example
  example/src/Example/GraphQL/API.hs
  example/src/Example/GraphQL/Enums/ReleaseStatus.hs
Due: hlint, stylish-haskell

Move enum rendering into separate template
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/render/enum.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/render/templates/enum.mustache
Due: eslint

Generate enum modules
  graphql-codegen-haskell/rollup.config.js
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/index.ts
Due: eslint

Run stylish-haskell after generating
  example/codegen.yml
  example/src/Example/GraphQL/API.hs
Due: hlint, stylish-haskell

Also generate parent enum module and re-export in api module
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/enum.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/render/templates/enumParent.mustache
Due: eslint

Split up utils into separate modules
  graphql-codegen-haskell/src/utils.test.ts
  graphql-codegen-haskell/src/utils.ts
  graphql-codegen-haskell/src/utils/index.ts
  graphql-codegen-haskell/src/utils/objects.test.ts
  graphql-codegen-haskell/src/utils/objects.ts
  graphql-codegen-haskell/src/utils/path.test.ts
  graphql-codegen-haskell/src/utils/path.ts
  graphql-codegen-haskell/src/utils/template.test.ts
  graphql-codegen-haskell/src/utils/template.ts
Due: eslint

Path conditions:
  eslint: any of: \.ts$
  hlint: any of: \.hs$
  stylish-haskell: any of: \.hs$
