Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, stylish-haskell

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        entry: scripts/eslint.sh
        language: script
        files: '\.ts$'
        require_serial: true

      - id: hlint
        name: Run HLint
        entry: scripts/hlint.sh
        language: script
        files: '\.hs$'
        pass_filenames: false

      - id: stylish-haskell
        name: Run stylish-haskell
        entry: scripts/stylish-haskell.sh
        language: script
        files: '\.hs$'
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: no-commit-to-branch

Add writeFile helper
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/utils/filesystem.test.ts
  graphql-codegen-haskell/src/utils/filesystem.ts
  graphql-codegen-haskell/src/utils/index.ts
Due: eslint

Regenerate example
  example/src/Example/GraphQL/API.hs
  example/src/Example/GraphQL/Enums.hs
Due: hlint, stylish-haskell

Revert "Regenerate example"
  example/src/Example/GraphQL/API.hs
  example/src/Example/GraphQL/Enums.hs
Due: hlint, stylish-haskell

Revert "Also generate parent enum module and re-export in api module"
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/enum.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/render/templates/enumParent.mustache
Due: eslint

Refactor enum generation
  graphql-codegen-haskell/src/index.ts
Due: eslint

Use matrix CI config option
  .circleci/config.yml
Due: none

Pass filenames to stylish-haskell.sh
  .pre-commit-config.yaml
  scripts/stylish-haskell.sh
Due: none

Fix example
  example/src/Example.hs
  example/test/Main.hs
Due: hlint, stylish-haskell

Write custom format-graphql-codegen.sh script
  example/codegen.yml
  example/scripts/format-graphql-codegen.sh
Due: none

Check outdated code generation in separate CI job
  .circleci/config.yml
Due: none

Move 'sep' argument into object
  graphql-codegen-haskell/src/utils/template.test.ts
  graphql-codegen-haskell/src/utils/template.ts
Due: eslint

Allow getting values from context in templateOverList
  graphql-codegen-haskell/src/utils/template.test.ts
  graphql-codegen-haskell/src/utils/template.ts
Due: eslint

Explicitly type 'args'
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
Due: eslint

Regenerate example
  example/src/Example/GraphQL/API.hs
Due: hlint, stylish-haskell

Support aeson-schemas 1.1.0
  graphql-client/package.yaml
Due: none

Update test to reformat unions
  graphql-codegen-haskell/src/render/api.test.ts
Due: eslint

Fix format of unions
  graphql-codegen-haskell/src/render/api.ts
Due: eslint

Fix other snapshots
  graphql-codegen-haskell/src/index.test.ts
Due: eslint

Move renderSelectionType outside of renderAesonSchema
  graphql-codegen-haskell/src/render/api.ts
Due: eslint

Add listOfUnion test
  graphql-codegen-haskell/src/render/api.test.ts
Due: eslint

Add FragmentSelectionInfo
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Rename __subTypes field to __fragments
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Rename __fragments to __fragment if only one fragment
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Upgrade graphql-js
  example/package.json
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Make union nullable if fragments don't cover all types
  graphql-codegen-haskell/src/parse/graphqlTypes.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
  graphql-codegen-haskell/src/render/api.test.ts
Due: eslint

Update @graphql-codegen
  example/package.json
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Fix updated type of PluginFunction.documents
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/index.ts
Due: eslint

Bump bounds for aeson + http-client
  graphql-client/package.yaml
Due: none

Use phantom keys for __fragments
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Fix peer dependency of graphql-codegen/cli
  graphql-codegen-haskell/package.json
Due: none

Add aeson-schemas support for Try
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/parse/graphqlTypes.ts
  graphql-codegen-haskell/src/render/api.ts
  stack-ghc-8.6.yaml
Due: eslint

Augment release process
  DEVELOPER.md
Due: none

Use aeson-schemas-1.2.0
  graphql-client/package.yaml
  stack-ghc-8.2.yaml
  stack-ghc-8.4.yaml
  stack-ghc-8.6.yaml
  stack-ghc-8.8.yaml
  stack.yaml.lock
Due: none

Implement compact
  graphql-codegen-haskell/src/utils/arrays.test.ts
  graphql-codegen-haskell/src/utils/arrays.ts
  graphql-codegen-haskell/src/utils/index.ts
Due: eslint

Use compact instead of flatMap
  graphql-codegen-haskell/src/index.ts
Due: eslint

Number steps in quickstart
  README.md
Due: none

Improve quickstart
  README.md
Due: none

Add dependencies
  README.md
Due: none

Add clarification about empty scalar module
  README.md
Due: none

Fix cache key
  .circleci/config.yml
Due: none
