Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, stylish-haskell

eslint:
  name: Run ESLint
  entry: scripts/eslint.sh
  language: script
  require_serial: true

hlint:
  name: Run HLint
  entry: scripts/hlint.sh
  language: script
  pass_filenames: false

stylish-haskell:
  name: Run stylish-haskell
  entry: scripts/stylish-haskell.sh
  language: script
  pass_filenames: false

Extract used enums from query variables
  graphql-codegen-haskell/src/parse/operation.ts
Due: eslint

Return parseVariableDefinitions as object
  graphql-codegen-haskell/src/parse/operation.ts
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
  graphql-codegen-haskell/src/parse/variableDefinition.ts
Due: eslint

Reformat
  graphql-codegen-haskell/src/parse/operation.ts
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
Due: eslint

Don't destructure
  graphql-codegen-haskell/src/parse/operation.ts
Due: eslint

Split up variableDefinition tests
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
Due: eslint

Add skeleton for collecting enums in parseVariableDefinitions
  graphql-codegen-haskell/src/parse/operation.ts
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
  graphql-codegen-haskell/src/parse/variableDefinition.ts
Due: eslint

Add tests
  graphql-codegen-haskell/src/parse/operation.test.ts
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
Due: eslint

Collect enums in parseVariableDefinitions
  graphql-codegen-haskell/src/parse/variableDefinition.ts
Due: eslint

Collect enums in parseOperation
  graphql-codegen-haskell/src/parse/operation.ts
Due: eslint

Add yarn test instructions in docs
  DEVELOPER.md
Due: none

Regenerate stack.yaml.lock
  stack.yaml.lock
Due: none

Bump version
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Bump file-embed bounds
  graphql-client/package.yaml
Due: none

Bump path bounds
  graphql-client/package.yaml
Due: none

Update cabal
  graphql-client/graphql-client.cabal
Due: none

Fix cabal for newer stack version
  graphql-client/graphql-client.cabal
Due: none

Expand bounds per PVP
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Move GraphQLSettings to top
  graphql-client/src/Data/GraphQL/Monad.hs
Due: hlint, stylish-haskell

Rename QueryState -> GraphQLManager
  graphql-client/src/Data/GraphQL/Monad.hs
Due: hlint, stylish-haskell

Remove MonadReader instance on GraphQLQueryT
  graphql-client/src/Data/GraphQL/Monad.hs
Due: hlint, stylish-haskell

Expose GraphQLManager + runQuerySafeIO
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
Due: hlint, stylish-haskell

Update CHANGELOG
  graphql-client/CHANGELOG.md
Due: none

Fix hpc overlay
  scripts/make_hpc_overlay.py
Due: none

Accept args for hlint
  .pre-commit-config.yaml
  scripts/hlint.sh
Due: none

Replace stylish-haskell with fourmolu
  .circleci/config.yml
  .pre-commit-config.yaml
  .stylish-haskell.yaml
  DEVELOPER.md
  example/scripts/codegen.sh
  fourmolu.yaml
  scripts/fourmolu.sh
  scripts/stylish-haskell.sh
Due: none

Format files
  example/src/Example.hs
  example/src/Example/GraphQL/API.hs
  example/src/Example/GraphQL/Enums/ReleaseStatus.hs
  example/src/Example/GraphQL/Scalars/Date.hs
  example/src/Example/GraphQL/Scalars/Duration.hs
  example/test/Main.hs
  graphql-client/exe/Codegen.hs
  graphql-client/src/Data/GraphQL.hs
  graphql-client/src/Data/GraphQL/Bootstrap.hs
  graphql-client/src/Data/GraphQL/Error.hs
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-client/src/Data/GraphQL/Result.hs
  graphql-client/src/Data/GraphQL/TestUtils.hs
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
  graphql-client/test/Data/GraphQL/Test/TestQuery.hs
  graphql-client/test/Data/GraphQL/Test/TestUtils.hs
  graphql-client/test/Main.hs
Due: hlint, stylish-haskell

Put linters on PATH, use -j1 to compile
  .circleci/config.yml
Due: none

Upgrade to yarn berry
  .circleci/config.yml
  .gitignore
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Use -Werror in stack.yaml
  .circleci/config.yml
  DEVELOPER.md
  stack-ghc-8.10.yaml
  stack-ghc-8.2.yaml
  stack-ghc-8.4.yaml
  stack-ghc-8.6.yaml
  stack-ghc-8.8.yaml
Due: none

Fix for yarn berry
  .gitignore
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Fix wording
  graphql-client/package.yaml
Due: none

Fix Example.hs -Werror
  example/src/Example.hs
Due: hlint, stylish-haskell

Upgrade GHC 8.10 snapshot
  stack-ghc-8.10.yaml
Due: none

Add stack snapshots for GHC 9
  .gitignore
  stack-ghc-9.0.yaml
  stack-ghc-9.2.yaml
Due: none

Add GHC 9 to CI
  .circleci/config.yml
Due: none

Bump bounds for lts-19
  example/graphql-client-example.cabal
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Bump bounds for nightly snapshot
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Make stack.yaml point to GHC 8.10
  stack.yaml
  stack.yaml.lock
Due: none

Fix CI
  .circleci/config.yml
Due: none

Path conditions:
  eslint: any of: \.ts$
  hlint: any of: \.hs$
  stylish-haskell: any of: \.hs$
