Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, stylish-haskell

eslint:
  name: Run ESLint
  entry: scripts/eslint.sh
  language: script
  require_serial: true

hlint:
  name: Run HLint
  entry: scripts/hlint.sh
  language: script
  pass_filenames: false

stylish-haskell:
  name: Run stylish-haskell
  entry: scripts/stylish-haskell.sh
  language: script
  pass_filenames: false

Fix quickstart
  README.md
Due: none

Update generated code
  graphql-codegen-haskell/src/parse/operation.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/render/templates/enum.mustache
Due: eslint

Add Data.GraphQL.Bootstrap
  README.md
  graphql-client/src/Data/GraphQL/Bootstrap.hs
Due: hlint, stylish-haskell

Regenerate API
  example/src/Example/GraphQL/API.hs
  example/src/Example/GraphQL/Enums/ReleaseStatus.hs
Due: hlint, stylish-haskell

Update test utils and tests
  graphql-client/src/Data/GraphQL/TestUtils.hs
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
  graphql-client/test/Data/GraphQL/Test/TestQuery.hs
  graphql-client/test/Data/GraphQL/Test/TestUtils.hs
Due: hlint, stylish-haskell

Fix graphql-codegen-haskell tests
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/parse/operation.test.ts
Due: eslint

Update README
  README.md
Due: none

Ignore all GHC warnings in autogenerated code
  graphql-codegen-haskell/src/render/templates/api.mustache
Due: none

Fix example
  example/package.yaml
  example/src/Example.hs
  example/test/Main.hs
Due: hlint, stylish-haskell

Derive query from passed-in args
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
Due: hlint, stylish-haskell

Update hpc overlay
  scripts/make_hpc_overlay.py
Due: none

Update package.json
  graphql-codegen-haskell/package.json
Due: none

Use MonadTrans trick
  graphql-client/src/Data/GraphQL/Monad/Class.hs
Due: hlint, stylish-haskell

Fix HPC overlay
  scripts/make_hpc_overlay.py
Due: none

Upgrade LTS
  stack-ghc-8.6.yaml
  stack.yaml.lock
Due: none

Check-in cabal files
  .circleci/config.yml
  .gitignore
  example/graphql-client-example.cabal
  graphql-client/graphql-client.cabal
Due: none

Update GHC 8.8, add GHC 8.10
  .circleci/config.yml
  stack-ghc-8.10.yaml
Due: none

Bump unliftio-core bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Fix cryptonite-0.27 build on CentOS7
  stack-ghc-8.10.yaml
Due: none

Fix MonadUnliftIO definition
  graphql-client/src/Data/GraphQL/Monad.hs
Due: hlint, stylish-haskell

Add symlinks to top-level
  CHANGELOG.md
  LICENSE
  README.md
Due: none

Fix stack sdist
  DEVELOPER.md
  graphql-client/CHANGELOG.md
  graphql-client/LICENSE
  graphql-client/README.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Fix lint
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
Due: hlint, stylish-haskell

Fix hpc overlay
  scripts/make_hpc_overlay.py
Due: none

Add link to aeson-schemas
  graphql-client/README.md
Due: none

Add IsSchemaObject as super class of GraphQLQuery
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
Due: hlint, stylish-haskell

Remove forall
  graphql-client/src/Data/GraphQL/Monad/Class.hs
Due: hlint, stylish-haskell

Upgrade all packages
  example/package.json
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Fix linting
  graphql-codegen-haskell/.eslintrc.js
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/utils/filesystem.ts
  graphql-codegen-haskell/src/utils/objects.ts
  graphql-codegen-haskell/src/utils/path.ts
  graphql-codegen-haskell/src/utils/template.ts
Due: eslint

Update code for package upgrades
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
Due: eslint

Update codegen config
  example/codegen.yml
Due: none

Address management reviewer feedback
  graphql-client/README.md
Due: none

Update graphql-client/README.md
  graphql-client/README.md
Due: none

Typo
  graphql-client/README.md
Due: none

Move eslint to top-level
  .eslintignore
  .eslintrc.js
  graphql-codegen-haskell/package.json
  package.json
  scripts/eslint.sh
Due: none

Add tests for sorted and deduplicated enums
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/parse/operation.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
Due: eslint

Fix enums order and duplication
  graphql-codegen-haskell/src/parse/operation.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Fix eslint.sh calls
  .circleci/config.yml
  DEVELOPER.md
Due: none

Move prettier config to top-level
  .prettierrc.js
Due: none

Path conditions:
  eslint: any of: \.ts$
  hlint: any of: \.hs$
  stylish-haskell: any of: \.hs$
