Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, stylish-haskell

eslint:
  name: Run ESLint
  entry: scripts/eslint.sh
  language: script
  require_serial: true

hlint:
  name: Run HLint
  entry: scripts/hlint.sh
  language: script
  pass_filenames: false

stylish-haskell:
  name: Run stylish-haskell
  entry: scripts/stylish-haskell.sh
  language: script
  pass_filenames: false

Build graphql-codegen-haskell as standalone Node script
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/rollup.config.js
  graphql-codegen-haskell/src/index.ts
  package.json
  yarn.lock
Due: eslint

Define new config
  graphql-client/README.md
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/src/config.test.ts
  graphql-codegen-haskell/src/config.ts
  yarn.lock
Due: eslint

Reimplement graphql-codegen-haskell without graphql-codegen/cli
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/enum.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/utils/path.test.ts
  graphql-codegen-haskell/src/utils/path.ts
  graphql-codegen-haskell/test/codegen.yml
  graphql-codegen-haskell/test/document.graphql
  graphql-codegen-haskell/test/schema.graphql
  yarn.lock
Due: eslint

Build Haskell executable that runs Node script
  .eslintignore
  .gitignore
  DEVELOPER.md
  graphql-client/README.md
  graphql-client/exe/Main.hs
  graphql-client/graphql-client.cabal
  graphql-client/js/mocks/__utils.js
  graphql-client/js/mocks/websocket.js
  graphql-client/package.yaml
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/rollup.config.js
  yarn.lock
Due: hlint, stylish-haskell

Remove unused dist directory
  .eslintignore
  graphql-codegen-haskell/.gitignore
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/tsconfig.json
Due: none

Fix example
  example/README.md
  example/codegen.yml
  example/package.json
  example/scripts/codegen.sh
  package.json
  yarn.lock
Due: none

Add fallback script
  graphql-client/exe/Main.hs
  graphql-client/graphql-client.cabal
  graphql-client/js/graphql-codegen-haskell-fallback.js
  graphql-client/js/mocks/__utils.js
  graphql-codegen-haskell/src/index.ts
Due: eslint, hlint, stylish-haskell

Store 'stack sdist' and graphql-codegen-haskell.js in CI artifacts
  .circleci/config.yml
  DEVELOPER.md
  graphql-client/js/graphql-codegen-haskell-fallback.js
Due: none

Fix CI
  .circleci/config.yml
Due: none

Add GraphQL to name of MonadQuery, QueryT, etc.
  example/src/Example.hs
  graphql-client/README.md
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/TestUtils.hs
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, stylish-haskell

Fix HPC overlay
  scripts/make_hpc_overlay.py
Due: none

Update Configuration README
  graphql-client/README.md
Due: none

Update CHANGELOG
  graphql-client/CHANGELOG.md
Due: none

Update docstring
  graphql-client/src/Data/GraphQL/Query.hs
Due: hlint, stylish-haskell

Rename exe/Main.hs to exe/Codegen.hs
  graphql-client/exe/Codegen.hs
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: hlint, stylish-haskell

Include error message in fallback
  graphql-client/js/graphql-codegen-haskell-fallback.js
Due: none

Copy GRAPHQL_CODEGEN file into fallback directory
  graphql-client/js/graphql-codegen-haskell-fallback.js
Due: none

Update docs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
Due: hlint, stylish-haskell

Fix HPC overlay after 9920eb4
  scripts/make_hpc_overlay.py
Due: none

Revert MonadTrans trick
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  scripts/make_hpc_overlay.py
Due: hlint, stylish-haskell

Make graphql-codegen-haskell private
  graphql-codegen-haskell/package.json
Due: none

Bump version
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Update README
  graphql-client/README.md
Due: none

Add MonadTrans instance for MockQueryT
  graphql-client/src/Data/GraphQL/TestUtils.hs
Due: hlint, stylish-haskell

Export AnyResultMock
  graphql-client/src/Data/GraphQL/TestUtils.hs
Due: hlint, stylish-haskell

Add Show instance for AnyResultMock
  graphql-client/src/Data/GraphQL/TestUtils.hs
  graphql-client/test/Data/GraphQL/Test/TestQuery.hs
Due: hlint, stylish-haskell

Update goldens
  example/test/goldens/AllStar.golden
  example/test/goldens/OldTownRoad.golden
Due: none

Upgrade all NodeJS packages
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Fix for aeson-schemas-1.3.0
  example/src/Example/GraphQL/Scalars/Date.hs
  example/src/Example/GraphQL/Scalars/Duration.hs
  graphql-client/README.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL/Query.hs
  stack-ghc-8.10.yaml
  stack-ghc-8.2.yaml
  stack-ghc-8.4.yaml
  stack-ghc-8.6.yaml
  stack-ghc-8.8.yaml
  stack.yaml.lock
Due: hlint, stylish-haskell

Remove redundant TypeApplications
  example/src/Example.hs
  graphql-client/README.md
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, stylish-haskell

Bump version
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Update release instructions
  DEVELOPER.md
Due: none

Fix hlint issues
  example/src/Example.hs
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-client/src/Data/GraphQL/Result.hs
Due: hlint, stylish-haskell

Better error message for missing config file
  graphql-client/exe/Codegen.hs
Due: hlint, stylish-haskell

Better error message for missing Node exe
  graphql-client/exe/Codegen.hs
Due: hlint, stylish-haskell

Fix caching issue
  .circleci/config.yml
Due: none

Bump optparse-applicative
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Bump LTS and update latest stack.yaml
  stack-ghc-8.10.yaml
  stack-ghc-8.8.yaml
  stack.yaml
Due: none

Remove linting/coverage packages in ghc-8.6
  stack-ghc-8.6.yaml
Due: none

Path conditions:
  eslint: any of: \.ts$
  hlint: any of: \.hs$
  stylish-haskell: any of: \.hs$
