Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: hlint, fourmolu, eslint

.pre-commit-config.yaml:

repos:
  # Haskell
  - repo: local
    hooks:
      - id: hlint
        name: Run HLint
        entry: hlint
        language: system
        files: '\.hs$'

      - id: fourmolu
        name: Run fourmolu
        entry: fourmolu -i
        language: system
        files: '\.hs$'

  # Typescript
  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        entry: yarn lint
        language: system
        files: '\.ts$'
        require_serial: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: no-commit-to-branch

Bump optparse-applicative bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Bump optparse-applicative bounds (#84)
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Update license
  LICENSE
  LICENSE.md
  graphql-client/LICENSE.md
  graphql-client/package.yaml
Due: none

Fix README badge
  graphql-client/README.md
Due: none

Update references to LeapYear
  .github/workflows/release.yml
  DEVELOPER.md
  graphql-client/CHANGELOG.md
  graphql-client/README.md
  graphql-client/graphql-client.cabal
  graphql-client/js/mocks/__utils.js
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL.hs
  graphql-client/src/Data/GraphQL/Bootstrap.hs
  graphql-client/src/Data/GraphQL/Error.hs
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-client/src/Data/GraphQL/Result.hs
  graphql-client/src/Data/GraphQL/TestUtils.hs
  graphql-codegen-haskell/package.json
Due: hlint, fourmolu

Update linters
  .github/workflows/ci.yml
  DEVELOPER.md
  example/src/Example.hs
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-client/src/Data/GraphQL/Result.hs
  graphql-client/src/Data/GraphQL/TestUtils.hs
Due: hlint, fourmolu

Fix yarn install
  yarn.lock
Due: none

Release v1.2.2
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Update release process
  .github/workflows/release.yml
Due: none

Fix hpc overlay
  scripts/make_hpc_overlay.py
Due: none

Install hpc-lcov from releases
  .github/workflows/ci.yml
Due: none

Update gitignore
  .gitignore
Due: none

Support both Cabal + Stack
  .github/workflows/ci.yml
  cabal.project
  stack-ghc-8.10.yaml
  stack-ghc-9.0.yaml
  stack-ghc-9.2.yaml
  stack-ghc-9.4.yaml
  stack.yaml
  stack.yaml.lock
Due: none

Reformat CI files
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Add support for GHC 9.6
  .github/workflows/ci.yml
  example/src/Example.hs
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL/Query.hs
Due: hlint, fourmolu

Update fourmolu config
  fourmolu.yaml
  graphql-client/src/Data/GraphQL.hs
  graphql-client/src/Data/GraphQL/Bootstrap.hs
  graphql-client/src/Data/GraphQL/Error.hs
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-client/src/Data/GraphQL/Result.hs
  graphql-client/src/Data/GraphQL/TestUtils.hs
Due: hlint, fourmolu

Post-transfer updates (#85)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  DEVELOPER.md
  LICENSE
  LICENSE.md
  cabal.project
  example/src/Example.hs
  fourmolu.yaml
  graphql-client/CHANGELOG.md
  graphql-client/LICENSE.md
  graphql-client/README.md
  graphql-client/graphql-client.cabal
  graphql-client/js/mocks/__utils.js
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL.hs
  graphql-client/src/Data/GraphQL/Bootstrap.hs
  graphql-client/src/Data/GraphQL/Error.hs
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-client/src/Data/GraphQL/Result.hs
  graphql-client/src/Data/GraphQL/TestUtils.hs
  graphql-codegen-haskell/package.json
  scripts/make_hpc_overlay.py
  stack-ghc-8.10.yaml
  stack-ghc-9.0.yaml
  stack-ghc-9.2.yaml
  stack-ghc-9.4.yaml
  stack.yaml
  stack.yaml.lock
  yarn.lock
Due: hlint, fourmolu

Bump stack resolver
  stack.yaml
  stack.yaml.lock
Due: none

Simplify GHC options
  example/graphql-client-example.cabal
  example/package.yaml
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Build with prefer-oldest in CI
  .github/workflows/ci.yml
Due: none

Delete stack-ghc-8.10.yaml
  .github/workflows/ci.yml
  stack-ghc-8.10.yaml
Due: none

Remove lower bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Fix yarn in CI
  .github/workflows/ci.yml
Due: none

Support GHC 9.8
  .github/workflows/ci.yml
  graphql-client/CHANGELOG.md
  graphql-client/test/Data/GraphQL/Test/TestUtils.hs
Due: hlint, fourmolu

Bump version
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Add -Wunused-packages
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Drop support for GHC < 9.4
  .github/workflows/ci.yml
  graphql-client/CHANGELOG.md
Due: none

Bump yarn version
  package.json
  yarn.lock
Due: none

Add lower bound for aeson-qq
  example/graphql-client-example.cabal
  example/package.yaml
Due: none

Support text 2.2
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Update NodeJS versions in CI
  .github/workflows/ci.yml
Due: none

Bump bytestring bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Ignore fourmolu on generated files
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  example/scripts/codegen.sh
  example/src/Example/GraphQL/API.hs
  example/src/Example/GraphQL/Enums/ReleaseStatus.hs
Due: hlint, fourmolu

Fix lower bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Add test that generated graphql code compiles
  .github/workflows/ci.yml
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
  graphql-client/test/Data/GraphQL/Test/Generation/.gitignore
  graphql-client/test/Data/GraphQL/Test/Generation/TestGeneration.hs
  graphql-client/test/Data/GraphQL/Test/Generation/codegen.yml
  graphql-client/test/Data/GraphQL/Test/Generation/queries/basic.graphql
  graphql-client/test/Data/GraphQL/Test/Generation/run.sh
  graphql-client/test/Data/GraphQL/Test/Generation/schema.graphql
  graphql-client/test/Data/GraphQL/Test/Generation/src/Example/Scalars.hs
  graphql-client/test/Main.hs
Due: hlint, fourmolu

Fix ambiguous field name error
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/test/Data/GraphQL/Test/Generation/queries/duplicate-names.graphql
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
Due: eslint

Update Error.hs to include an `extensions` entry
  graphql-client/src/Data/GraphQL/Error.hs
Due: hlint, fourmolu

fix test
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, fourmolu
