Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, fourmolu

eslint:
  name: Run ESLint
  entry: scripts/eslint.sh
  language: script
  require_serial: true

hlint:
  name: Run HLint
  entry: scripts/hlint.sh
  language: script

fourmolu:
  name: Run fourmolu
  entry: scripts/fourmolu.sh
  language: script

Bump snapshots
  stack-ghc-9.0.yaml
  stack-ghc-9.2.yaml
Due: none

Bump aeson bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Test on multiple node versions
  .circleci/config.yml
Due: none

Use yarn via corepack
  .circleci/config.yml
  .gitattributes
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
Due: none

Regenerate yarn.lock
  yarn.lock
Due: none

Drop support for GHC < 8.10
  .circleci/config.yml
  example/src/Example.hs
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
  stack-ghc-8.2.yaml
  stack-ghc-8.4.yaml
  stack-ghc-8.6.yaml
  stack-ghc-8.8.yaml
Due: hlint, fourmolu

Reformat with upgraded fourmolu
  example/src/Example/GraphQL/API.hs
  graphql-client/exe/Codegen.hs
  graphql-client/src/Data/GraphQL/Monad.hs
Due: hlint, fourmolu

Fix link of Hackage badge
  graphql-client/README.md
Due: none

Fix references to master
  DEVELOPER.md
  graphql-client/README.md
Due: none

Update linter instructions
  .circleci/config.yml
  .pre-commit-config.yaml
  DEVELOPER.md
  example/README.md
  example/scripts/codegen.sh
  scripts/eslint.sh
  scripts/fourmolu.sh
  scripts/hlint.sh
Due: none

Change '*' to '--' in generated API file
  example/src/Example/GraphQL/API.hs
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
Due: eslint, hlint, fourmolu

Fix hpc overlay file
  scripts/make_hpc_overlay.py
Due: none

Reformat with black
  .pre-commit-config.yaml
  scripts/make_hpc_overlay.py
Due: none

Ignore coverage for example/
  .circleci/config.yml
  codecov.yml
Due: none

Rewrite make_hpc_overlay.py for Python 3 + pyright
  scripts/make_hpc_overlay.py
Due: none

Add release workflow
  .github/workflows/release.yml
  .pre-commit-config.yaml
  DEVELOPER.md
  graphql-client/CHANGELOG.md
  scripts/GetVersion.hs
  scripts/make-release.sh
  scripts/make_release.py
Due: hlint, fourmolu

Switch to GitHub Actions
  .circleci/config.yml
  .github/workflows/ci.yml
  DEVELOPER.md
  graphql-client/README.md
  graphql-client/js/graphql-codegen-haskell-fallback.js
Due: none

Update release instructions
  DEVELOPER.md
Due: none

Update cabal files for new hpack
  example/graphql-client-example.cabal
  graphql-client/graphql-client.cabal
Due: none

Bump aeson-schemas upper bound
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Release v1.2.0
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Update CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  DEVELOPER.md
  graphql-client/CHANGELOG.md
  scripts/GetVersion.hs
  scripts/make-release.sh
  scripts/make_release.py
Due: hlint, fourmolu

Just use HACKAGE_TOKEN_LEAPYEAR
  .github/workflows/release.yml
  DEVELOPER.md
Due: none

Update snapshots
  stack-ghc-9.0.yaml
  stack-ghc-9.2.yaml
  stack.yaml
  stack.yaml.lock
Due: none

Inline dependencies
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Release v1.2.1
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Support GHC 9.4
  .github/workflows/ci.yml
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL/Monad.hs
  graphql-client/src/Data/GraphQL/Monad/Class.hs
  scripts/make_hpc_overlay.py
  stack-ghc-9.4.yaml
Due: hlint, fourmolu

Bump path-io upper bound
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none

Fix graphbrainz URL
  example/README.md
  example/codegen.yml
  example/src/Example.hs
  graphql-client/README.md
  graphql-codegen-haskell/src/config.test.ts
Due: eslint, hlint, fourmolu

Don't escape string literals in query arguments
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/test/document.graphql
  graphql-codegen-haskell/test/schema.graphql
Due: eslint

globally disable html escaping in Mustache
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
Due: eslint

yarn install
  DEVELOPER.md
Due: none

explain how yarn version is managed
  DEVELOPER.md
Due: none

install tools with cabal instead of stack
  DEVELOPER.md
Due: none

git ignore cabal output and local yarn-config
  .gitignore
Due: none

move konfiguration of mustashe
  graphql-codegen-haskell/src/index.ts
  graphql-codegen-haskell/src/render/api.ts
Due: eslint

remove unnecessary whitespace
  graphql-codegen-haskell/test/schema.graphql
Due: none

fix linting issues
  graphql-codegen-haskell/src/render/api.ts
Due: eslint

Disable html escaping in Mustache (#81)
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/render/api.ts
  graphql-codegen-haskell/test/document.graphql
Due: eslint

Path conditions:
  eslint: any of: \.ts$
  hlint: any of: \.hs$
  fourmolu: any of: \.hs$
