Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: hlint, fourmolu, eslint

hlint:
  name: Run HLint
  entry: hlint
  language: system

fourmolu:
  name: Run fourmolu
  entry: fourmolu -i
  language: system

eslint:
  name: Run ESLint
  entry: yarn lint
  language: system
  require_serial: true

fix test
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, fourmolu

use template haskell for json instance derivation
  graphql-codegen-haskell/src/index.test.ts
  graphql-codegen-haskell/src/render/templates/api.mustache
  graphql-codegen-haskell/src/render/templates/enum.mustache
Due: eslint

delete other branch changes
  graphql-client/src/Data/GraphQL/Error.hs
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, fourmolu

Update Error.hs to include an `extensions` entry (#89)
  graphql-client/src/Data/GraphQL/Error.hs
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, fourmolu

Remove upper bounds
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
Due: none

Bump GHC versions
  .github/workflows/ci.yml
  graphql-client/CHANGELOG.md
  stack.yaml
  stack.yaml.lock
Due: none

Bump artifacts github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Updates (#94)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  graphql-client/CHANGELOG.md
  graphql-client/graphql-client.cabal
  graphql-client/package.yaml
  stack.yaml
  stack.yaml.lock
Due: none

Path conditions:
  hlint: any of: \.hs$
  fourmolu: any of: \.hs$
  eslint: any of: \.ts$
