Repository brandonchinn178/graphql-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, hlint, stylish-haskell

eslint:
  name: Run ESLint
  entry: scripts/eslint.sh
  language: script
  require_serial: true

hlint:
  name: Run HLint
  entry: scripts/hlint.sh
  language: script
  pass_filenames: false

stylish-haskell:
  name: Run stylish-haskell
  entry: scripts/stylish-haskell.sh
  language: script
  pass_filenames: false

Update docs
  DEVELOPER.md
  README.md
Due: none

Fix LICENSE
  LICENSE
Due: none

Set version bounds in package.yaml
  graphql-client/package.yaml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Add GHC 8.8 to CI
  .circleci/config.yml
Due: none

Fix GHC 8.8
  .circleci/config.yml
  example/src/Example.hs
  graphql-client/test/Data/GraphQL/Test/Monad/Class.hs
Due: hlint, stylish-haskell

Generate UnsafeQuery directly
  graphql-client/package.yaml
  graphql-client/src/Data/GraphQL/Query.hs
  graphql-codegen-haskell/src/template.mustache
Due: hlint, stylish-haskell

Regenerate
  example/src/Example/GraphQL/API.hs
Due: hlint, stylish-haskell

Fix tests
  graphql-client/test/Data/GraphQL/Test/TestQuery.hs
Due: hlint, stylish-haskell

Add jest
  graphql-codegen-haskell/jest.config.js
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Test parseVariableDefinitions
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/src/parse/variableDefinition.test.ts
Due: eslint

Add jest and graphql eslint plugins
  graphql-codegen-haskell/.eslintrc.js
  graphql-codegen-haskell/package.json
  yarn.lock
Due: none

Ignore coverage directory
  graphql-codegen-haskell/.gitignore
Due: none

Add renderHaskellType tests
  graphql-codegen-haskell/jest.config.js
  graphql-codegen-haskell/package.json
  graphql-codegen-haskell/src/render.test.ts
  graphql-codegen-haskell/src/render.ts
  yarn.lock
Due: eslint

Fix Haskell types for query arguments
  example/src/Example.hs
  example/src/Example/GraphQL/API.hs
  example/test/Main.hs
  graphql-codegen-haskell/src/render.ts
  graphql-codegen-haskell/src/template.mustache
Due: eslint, hlint, stylish-haskell

Factor out ParsedType types
  graphql-codegen-haskell/src/parse/graphqlTypes.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
  graphql-codegen-haskell/src/parse/variableDefinition.ts
Due: eslint

Test renderAesonSchema
  graphql-codegen-haskell/src/parse/graphqlTypes.ts
  graphql-codegen-haskell/src/render.test.ts
  graphql-codegen-haskell/src/render.ts
Due: eslint

Fix templateOverList for empty list
  graphql-codegen-haskell/src/utils.test.ts
  graphql-codegen-haskell/src/utils.ts
Due: eslint

Add config.ts test
  graphql-codegen-haskell/src/config.test.ts
Due: eslint

Move resolveConfig into config.ts
  graphql-codegen-haskell/src/config.test.ts
  graphql-codegen-haskell/src/config.ts
  graphql-codegen-haskell/src/index.ts
Due: eslint

Add full plugin test
  graphql-codegen-haskell/src/index.test.ts
Due: eslint

Add test for fragments
  graphql-codegen-haskell/src/parse/fragments.test.ts
Due: eslint

Add tests for utils
  graphql-codegen-haskell/src/utils.test.ts
  graphql-codegen-haskell/src/utils.ts
Due: eslint

Fix exhaustiveness checks
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Add test for selectionSet.ts
  graphql-codegen-haskell/src/parse/selectionSet.test.ts
  graphql-codegen-haskell/src/parse/selectionSet.ts
Due: eslint

Use graphqlTypes helpers in parsing code
  graphql-codegen-haskell/src/parse/selectionSet.ts
  graphql-codegen-haskell/src/parse/variableDefinition.ts
Due: eslint

Add tests for operation.ts
  graphql-codegen-haskell/src/parse/operation.test.ts
Due: eslint

Reorganize CI workflow
  .circleci/config.yml
Due: none

Add node testing to CI
  .circleci/config.yml
Due: none

Separate node CI from haskell CI
  .circleci/config.yml
Due: none

Install git
  .circleci/config.yml
Due: none

Upload coverage to codecov
  .circleci/config.yml
Due: none

Bump stack cache key (rebuilding haddock)
  .circleci/config.yml
Due: none

Add codecov badge
  README.md
Due: none

Separate GHC-8.6 from latest stack caches
  .circleci/config.yml
Due: none

Add Haskell coverage to CI
  .circleci/config.yml
  stack-ghc-8.6.yaml
Due: none

Use lts-15 for ghc 8.8
  stack-ghc-8.8.yaml
Due: none

Test graphql-client-example separately from graphql-client
  .circleci/config.yml
Due: none

Collect coverage from graphql-client-example executable
  .circleci/config.yml
Due: none

Use hpc-lcov from hackage
  stack-ghc-8.6.yaml
Due: none

Path conditions:
  eslint: any of: \.ts$
  hlint: any of: \.hs$
  stylish-haskell: any of: \.hs$
